
html {
    scroll-behavior: auto;
}

body {

    &.theme-light {

        #app--theme--switcher {
            svg {
                stroke: black;
            }

            .icon-moon {
                display: block !important;
            }
        }
    }

    &.theme-dark {

        background-color:#1b1818;
        color:#bae0d1;

        mark {
            background-color:rgba(160, 183, 174, .16);
            color:#bae0d1;
        }

        #app--theme--switcher {
            svg {
                stroke: white;
            }

            .icon-sun {
                display: block !important;
            }
        }

        .main--sidebar--area {
            background-color: #151212;

            li {
                a {
                    color:antiquewhite;
                    opacity:.7;
                    svg {
                        stroke:antiquewhite;
                        opacity: .4
                    }
                }

                &.active {
                    a {
                        opacity:1;

                        svg {
                            opacity:.8;
                        }
                    }
                }
            }
        }

        #sidebar--summary-wrapper {
            #contents--sidebar {
                li {
                    a {
                        color:antiquewhite;
                    }
                }
            }
        }

        // bootstrap related utility classes
        .border {
            border-color:#2d2222 !important;
        }

        .form-control {
            background: none;
            border-color: #222;
        }
    }
}

#app--theme--switcher {
    background-color: transparent !important;
    border: 0 !important; 
    outline: none !important;
    box-shadow: none !important;

    span {
        transition: all ease .5s;    
    }

    &:hover span {
        transform: scale(1.2);
    }
}

/* Headlines in Contents */
#article--side h1,
#article--side h2 {
    font-weight: bold;
}

#searchbar--area {

    input {
        border-radius:45px
    }

    span.btn {
        cursor: default;
        top: 3px;
        right: 4px;
        width: 31px;
        border-radius: 62px;
        color: #AAA;
    }
}

#article--side {

    font-size: 1.15em;

    h1, h2, h3 {
        margin-bottom: 1.3rem;
    }

    h1, h2, h3, h4, h5, h6 {
        & [id] {
            text-decoration: none;
            color:black;
            border-bottom:1px #AAA dotted;
        }
    }

    span.paragraph {
        margin-bottom:1.3em;
        line-height: 1.9em;
        display: block;
    }

    li {
        list-style: none;
        margin-bottom: .5em;

        &:input[type="checkbox"] {
            width: 15px;
            height: 15px;
            cursor: pointer;
            margin-right: 5px;
        }

        span.paragraph {
            margin-bottom: 0;
            display: inline;
        }
    }


    // While rendering Categories screens
    .category--list--items {
        .category--item {
            transition: all .2s ease;
            &:hover {
                background-color: lavender !important;
            }
        }
    }
}

.main--sidebar ul,
#contents--sidebar ul {
    padding:0;
    margin:0;
}

.main--sidebar li,
#contents--sidebar li {
    list-style: none;
    margin-bottom:7px;
}

.main--sidebar {
    left:-12px; // nasty fix
    position:fixed;

    .main--sidebar--area {
        background-color:#edf2f7;
        height:100vh;

        .logo a, .logoText {
            color:black;
            text-decoration: none;
        }

        .wikiPeepLogo {
            top:7px;
            position: relative;
            display: inline-block;
            background:-webkit-linear-gradient(45deg, #5daefc, #02bc9c 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    li {

        a {
            color:#222;
            text-decoration: none;
        }

        &.active {
            a {
                color:blue;
            }
        }

        &[item-separator] {
            border-color:#DDD;
            border-style: solid;
            border-width:0;
        }

        &[item-separator="before"] {
            border-top-width: 1px;
            margin-top:15px;
            padding-top:15px;
        }

        &[item-separator="after"] {
            border-top-width: 1px;
            margin-bottom:15px;
            padding-bottom:15px;
        }
    }
}

#contents--sidebar {
    li {
        a {
            color:black;
            border-right:3px transparent solid;
            transition: all .3s ease;
            text-decoration: none;
            
            &.active {
                border-right-color: rgba(0,0,255,0.15);
                color:blue;
            }
        }
    }
}

.breadcrumb--nav li:after {
    content:"/";
}

pre {
    border-radius:5px;
}

.list-none {
    list-style: none;
}


details {
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 4px;
    background: bisque;
}

details summary {
    font-weight: bold;
    font-family: inherit;
}

/**
 * Usually hacked for youtube or other iframe-based players
 */
iframe {
    width:100%;
    border-radius:15px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    margin:10px 0 20px;
}




/**
 * Autocomplete search
 */

.autoComplete_list {
    position: absolute;
    padding: 0;
    width: 100%;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    border: 2px #EEE solid;
    box-shadow: 0 35px 25px rgba(0,0,0,.1);
    margin-top: 5px;
    z-index: 22;

    li {
        span.search--item--title {
            font-weight: 500;
            font-size: 1.1em;
        }

        span.search--item--excerpt {
            display: block;
            font-size: .9em;
            color: dimgrey;
        }
    }
}

@media (max-width:575.98px){
    .autoComplete_list {
        position: fixed;
        width: 90%;
        left: 5%;
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow:0 0 0 0 rgba(93, 228, 142,.4);
    }

    70% {
        transform: scale(1);
        box-shadow:0 0 0 10px rgba(93, 228, 142, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow:0 0 0 0px rgba(93, 228, 142, 0);
    }
}

@keyframes docs {
    0% {
        transform: scale(0.95);
        box-shadow:0 0 0 0 rgba(93, 228, 142,.4);
    }

    70% {
        transform: scale(1);
        box-shadow:0 0 0 10px rgba(93, 228, 142, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow:0 0 0 0px rgba(93, 228, 142, 0);
    }
}